.blogtitle{
    text-align: center;
    color:white;
}   
.div1{
    text-align: center;
    background-color: rgb(40, 44, 61);
    width:1500px;
    height: 700px;
    margin: 50px auto;
    color:white;
}
body{
    background-color: rgb(16, 27, 38);
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;

}
